BETTER_AUTH_SECRET="your better auth secret"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL="your postgres connection string"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="Your cloudinary cloudname"
NEXT_PUBLIC_CLOUDINARY_API_KEY="Your cloudinary api key"
CLOUDINARY_API_SECRET="Your cloudinary secret key"

NEXT_PUBLIC_PUSHER_APP_KEY="your pusher app key"
NEXT_PUBLIC_PUSHER_CLUSTER="your pusher cluster id"
PUSHER_APP_ID="your pusher app id"
PUSHER_SECRET="your pusher app secret"

RESEND_API_KEY="your resend api key"

GITHUB_CLIENT_ID="your github client id"
GITHUB_CLIENT_SECRET="your github client secret"

GOOGLE_CLIENT_ID="your GOOGLE client id"
GOOGLE_CLIENT_SECRET="your GOOGLE client secret"