BETTER_AUTH_SECRET="your better auth secret"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL="your postgres connection string"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="Your cloudinary cloudname"
NEXT_PUBLIC_CLOUDINARY_API_KEY="Your cloudinary api key"
CLOUDINARY_API_SECRET="Your cloudinary secret key"

NEXT_PUBLIC_PUSHER_APP_KEY="your pusher app key"
PUSHER_APP_ID="your pusher app id"
PUSHER_SECRET="your pusher app secret"