DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

AUTH_SECRET="somethingreallyreallysecret"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your cloud name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="Your api key"
CLOUDINARY_API_SECRET="api secret"

NEXT_PUBLIC_PUSHER_APP_KEY="d9432788a46cdf9fb375"
PUSHER_APP_ID="Your app id"
PUSHER_SECRET="Your pusher secret"

RESEND_API_KEY="your resend api key"

GITHUB_CLIENT_ID="448ed8860b968d871843"
GITHUB_CLIENT_SECRET="24c5504868baccd678049a8e21c72b87b1419e28"

GOOGLE_CLIENT_ID="188963163727-a3f7sadrepsflkekkc0lf0ii9au3mj9r.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"